<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/styles/fox.css" rel="stylesheet" type="text/css"/>
  <title></title>
</head>

<body>
<h1></h1>



<hr>
<address>
Sugano `Koshian' Yoshihisa(E) <a href="mailto:koshian@foxking.org">&lt;koshian@foxking.org&gt;</a><br />
<!-- hhmts start -->Last modified: Tue Jul  1 21:10:03 JST 2008 <!-- hhmts end -->
</address>
</body>
</html>
